.list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.block {
	width: 400px;
	height: 150px;
	border: 2px solid white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	padding: 15px;
	margin: 10px;
	opacity: 1;
}

.active {
	opacity: .5;
}

.form {
  margin: 0 auto;
  padding: 100px 30px 0;
}

.input-range {
  margin-bottom: 160px;
}

.name {
	width: 100%;
}

.stats {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stats > p:hover {
	transform: scale(1.15);
}

.btn {
	color: orange;
	position: relative;
}

.btn::after {
	content: "";
	width: 0px;
	height: 2px;

	background-color: orange;

	position: absolute;
	left: 50%;
	bottom: -30%;

	transform: translate(-50%);
	transition: width .3s ease-in-out;
}

.btn:hover::after {
	width: 100%;
}

input[type="range"] {
	width: 100%;
}
