.navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 25px 0;
}

.header {
	font-weight: 400;
}

.btn {
	text-decoration: none;
	text-align: center;
	position: relative;
	color: white;
	font-size: 32px;
}

.active {
	color: orange;
}

.btn:first-child {
	margin-right: 1em;
}


.btn:first-child {
	margin-right: 1em;
}

.btn::after {
	content: "";
	width: 0px;
	height: 2px;

	background-color: white;

	position: absolute;
	left: 50%;
	bottom: -30%;

	transform: translate(-50%);
	transition: width .3s ease-in-out;
}

.active::after {
	background-color: orange;
	width: 25%;
}

.btn:hover::after {
	width: 100%;
}
